@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;

.cinema {
    width: 100%;
    @include tablet {
        max-width: 40rem;
        border-right: 1px solid $Mercury;
    }
    &__description {
        display: flex;
        flex-direction: column;
    }
    &__name,
    &__website {
        font-weight: 700;
        color: $Orange;
    }

    &__title {
        text-align: center;
    }
    &__image-box {
        padding: 0 1rem 1rem 1rem;
        overflow: hidden;
    }
    &__image {
        width: 100%;
        border-radius: 4px;
    }
    &__info {
        margin: 0;
        padding-bottom: 1rem;
        border-bottom: 1px solid $Mercury;
        @include tablet {
            border-bottom: none;
            margin: 0;
        }
    }
    &__details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1rem 1rem 1rem;
        border-bottom: 1px solid $Mercury;
        margin-bottom: 1rem;
    }
    &__about {
        padding: 0 1rem;
        margin-top: 1rem;
    }
    &__address {
        padding: 0 1rem;
    }
}
