@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;

.festivals {
    width: 100%;
    height: 100vh;
    background-color: $Background-color;
    text-align: center;
}

.Calender {
    @include flex-basic(column, center, space-evenly);
    flex-wrap: wrap;

    &__box {
        width: 100%;
        min-width: 20rem;
        @include tablet {
            max-width: 50rem;
        }
    }
    &__month {
        display: inline-block;
        width: auto;
        margin: 0.25rem;
        padding: 0 0.5rem;
        height: 2rem;
        @include tablet {
            padding: 0 2rem;
            height: 2rem;
        }
    }
    &__month--active {
        border: 2px solid $DarkBlue;
    }
}
