@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;

.side {
    margin: 1rem;
    &__subtitle {
        font-weight: 700;
        color: $Orange;
        margin-bottom: 1rem;
    }
    &__cinemas {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
